* {
    margin: 0px;
    padding: 0px;
    /*border */
    border-radius: 15px;
}

#wrapper {
    width: 970px;
    background-color: navy;
    margin: 10px auto;
    padding: 10px;
    border-radius: 0px;
}

#header {
    min-height: 50px;
    background-color: red;
    overflow: hidden;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    
}

#navigation {
    min-height: 200px;
    width: 220px;
    background-color:teal;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 10px; 
}

#main_content {
    min-height: 400px;
    width: 680px;
    background-color: black;
    display: inline-block;
    margin: 10px;
    /* move up and down*/
    vertical-align: top;
}

.subcontents {
    
    display: inline-block;
    color: white;
     margin: 25px;
    
}

#advertisement {
    min-height: 20px;
    width: 920px;
    background-color: gray;
    display: block;
    margin: 10px;
    position: relative;
    bottom:0px;
    padding: 15px;
    color:white;
}

a {
    color:aqua;
    margin:0;
}

  
.indent1 {
    
    color: white; /* Change the color */

}
ul,li{
  margin: 0px 10px;
}

/* li span{
    margin: 0px,5px,0px,5px;
} */

ul li{
    color: white;
}

